<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>iBookNail Version 2.0 - React</title>
  </head>
  <body>
    <div id="app"><%-content%></div>
    <script>
        window.APP_STATE = <%-context%>;
    </script>
    <script src="main.js"></script>
  </body>
</html>
